@model IEnumerable<ExamPractiseMVC.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@ViewBag.Author
<form method="post">
    <input type="text" name="autname" id="aname"/>
    <input type="submit" name="submitLookForAuthor" id="submitAuthor" value="look for author" formaction='@Url.Action("LookForAuthor")'/>
</form>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
            </tr>
        }

    </table>
